/* Default Styles */
:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --bg-light-gray-cyan: hsl(180, 52%, 96%);
  --light-gray-cyan: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --very-dark-gray-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.App {
  background-color: var(--bg-light-gray-cyan);
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
  background-color: var(--dark-gray-cyan);
}

.jobListing {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-left: 5px solid var(--dark-cyan);
  border-radius: 4px;
  padding: 1rem 1rem;
  margin: 0 auto 30px;
  background-color: white;
}

.logo {
  --logo-size: 20px;
  height: var(--logo-size);
  width: var(--logo-size);
  border-radius: 50%;
  position: relative;
  top: 0;
}

.company {
  color: var(--dark-cyan);
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
}

.newJob {
  text-transform: uppercase;
  color: white;
  background-color: var(--dark-cyan);
  padding: .25rem .5rem;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
}

.featuredJob {
  text-transform: uppercase;
  color: white;
  background-color: var(--very-dark-gray-cyan);
  font-weight: 600;
  padding: .25rem .5rem;
  border-radius: 50px;
  font-size: 14px;
}

.position {
  font-weight: bold;
  font-size: 18px;
}

.metaDataContainer {
  display: flex;
}

.metaData {
  color: var(--dark-gray-cyan);
  margin-right: 10px;
}

.jobCategories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  background-color: var(--light-gray-cyan);
  padding: .5rem;
  color: var(--dark-cyan);
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

@media (min-width: 768px) {

  .divider {
    display: none;
  }

  .jobListing {
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
  }

  .logo {
    --image-size: 50px;
    position: static;
    margin-right: 30px;
  }

  .jobCategories {
    margin-left: auto;
  }

  .category {
    font-size: 14px;
  }

}